<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>HOME</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" name="rollno" id="" placeholder="rollno">
        <input type="text" name="name" id="" placeholder="name">
        <input type="text" name="age" id="" placeholder="age">
        <input type="number" name="mark" id="" placeholder="mark">
        <input type="text" name="address" id="" placeholder="address">
        <input type="submit" value="Add" id="btn">
    </form>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Roll_NO</th>
                <th>Name</th>
                <th>Age</th>
                <th>Mark</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for std in students  %}
        <tr>
            <td>{{std.pk}}</td>
            <td>{{std.rollno}}</td>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td>{{std.mark}}</td>
            <td>{{std.address}}</td>
            <td>
                <a href="edit/{{std.pk}}">Edit</a>
                <a href="delete/{{std.rollno}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>